
/*header  */
.myBgColor{
  background-color:rgb(225, 212, 234);
}
@media screen and (min-width: 992px) {
  .myBgColor {
     background-color:transparent;
  }
}

/*  Nav bar section */
.nav-hover li:hover {
  background-color: aliceblue;
  border-radius: 18px;
}
.customTop{
  top:-105px;
  margin-left: 7px;
}

@media screen and (min-width: 992px) {
  .navBgColor {
    background-color: rgb(203, 175, 215);
  }
}

/* slider section  */
 
@media screen and (max-width: 991px) {
  .slideBox {
   width:100%;
   display: flex;
   justify-content: center;
  }
  .carousel{ 
    width:100vw;  
  } 
  .carousel-item{   
  padding: 10px; 
  }
}

/* **************************************** */
/* popular category product Slide */
.categorySection{
  width:100%;
}

.categorySection .box2{
  width:100%
}


.d-flex::-webkit-scrollbar {
  display: none;
}
.categorySection .product-card {   
  width: 172px;
  height: 250px;      
}
.categorySection .product-img {
  height: 150px;     
  object-fit: cover;  
}
.categorySection .cardBoxHover{
   padding:10px;
}

.categorySection .cardBoxHover img{
   transition: transform 0.5s ease, opacity 0.3s ease;
}
.categorySection .cardBoxHover img:hover{
 transform: scale(1.1);
  opacity: 1.9;
}
.categorySection .hoverBtn:hover{
  border:3px solid rgb(216, 207, 207);
}


.conatainer3 .box1 .card img{
  width:100%; 
}
.conatainer3 .box1 .card {
  width:100%;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 3px 0px 3px;
  border: none;
}
.conatainer3 .box1 .card img{
  aspect-ratio: 1/1;
}

.conatainer3 .box1 .card:hover {
  margin-top: 0px;
}

.conatainer3 .box2 {
  width: 100%;
  height: 450px; /* 450px */
  border-radius: 10px;
  padding: 0px;
  margin:30px 0px;
 
}

.conatainer3 .box2 img {
  width: 100px;
 height: 100%;
  padding: auto;
  margin: 5px 0%;
}
.conatainer3 .box2 img:hover {
  width: 92%;
  margin: 10px 3%;
}

@media screen and (min-width:768px){
  .conatainer3 .box1 {
    width:70%
  }
   .conatainer3 .box2 {
    width:35%;
    margin-top:0px;

   }
  .conatainer3 .box2 img {
    width: 98%;
    height: 70%;
    aspect-ratio: 1/2;
    margin: 80px 1%;
   }
   .conatainer3 .box2 img:hover {
  width: 100%;
  margin: 87px 0%;
}
}
@media screen and (min-width:992px){
  .conatainer3 .box2 img {
    height: 90%;
    margin-top: 30px;
  }
   .conatainer3 .box2 img:hover {
    margin-top: 40px;

   }
}

/* category,jsx file  */
.categoryContainer .catBox{
  width: 400px;
  height:220px;
  margin-bottom: 30px;  
}
.categoryContainer .categoryName{
   width:400px;
    height: 120px;
    margin-top: 100px;
    padding-top: 15px;
    padding-left: 20px;
    font-size: 22px;
    color:white;
    border-radius: 0 0 16px 16px;
    background: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0.8));
}
.categoryContainer .categoryImg:hover{
  transition: transform 0.7s ease;
  transform: scale(1.09);
  opacity: 1.9;
}
@media screen and (min-width:576px){
   .categoryContainer .catBox{   
    width: 260px;
    height:185px; 
    margin-bottom: 18px;
   }
   .categoryContainer .categoryName{
   width: 260px;
    height: 75px;
     margin-top: 110px;
       
  } 
}
@media screen and (min-width:768px){
   .categoryContainer .catBox{ 
    width: 345px;
    height:210px;
     margin-bottom: 25px;
    
  }
  .categoryContainer .categoryName{
   width: 345px;
    height: 100px;
    margin-top: 110px;
    padding-top: 30px; 
    font-size:23px;
    padding-left: 30px;
  }
}
@media screen and (min-width:992px){
  .categoryContainer .catBox{ 
    width: 300px;
    height:210px; 
  }
   .categoryContainer .catBox h3{ 
    font-size:23px;
   }
  .categoryContainer .categoryName{
   width: 300px;
    height: 80px;
    margin-top: 130px; 
    padding-top: 15px;
  }
  
}
@media screen and (min-width:1200px){
  .categoryContainer .catBox{
  width: 360px;
  height:260px;
  margin-bottom: 25px;
}
  .categoryContainer .categoryName{
   width: 360px;
    height: 100px;
    margin-top: 158px;
    padding-top: 25px;
    padding-left: 40px;
  }
   .categoryContainer .catBox h3{ 
    font-size:26px;
   }
}

/* productCard.jsx file*/

#productCard .productCardImage img:hover{
  transition: transform 0.3s ease;
  transform: scale(1.09);
  opacity: 1.9;
}

/* //product deails file */
#productDetails .box1 figure{
  width: 100%;
  height: 400px;
}
 
      #productDetails .box1 .box1-1{
      height: 100px;
     }
    #productDetails .box1 .box1-1 img{
      width:120px;
    }
@media screen and (min-width:768px){
 #productDetails .box1 figure{
     height: 300px;
    }
     #productDetails .box1 .box1-1{
      height: 80px;
     }
    #productDetails .box1 .box1-1 img{
      width:100px;
    }
}
@media screen and (min-width:992px){
  #productDetails .box1 figure{
     height: 360px;
    }
}
@media screen and (min-width:1200px){
  #productDetails .box1 figure{
     height: 400px;
    }
     #productDetails .box1 .box1-1{
      height: 100px;
     }
    #productDetails .box1 .box1-1 img{
      width:120px;
    }
} 
/* card detais page */
.cardHover img:hover{
  transition: transform 0.3s ease;
  transform: scale(1.09);
  opacity: 1.9;
}
/* product order page  */
#productOrder .productBox{
  width:100%;
}
@media screen and (min-width:992px){
  #productOrder .productBox{
     width: 75%;
    }
}

 /*login page  */
 #loginPage .form-control:focus{
    border-color:#a742f5;
  box-shadow:0 0 5px rgba(171, 3, 249, 5);
 }

/*footer section  */
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
footer .box1 {
  width: 100%;
  padding-top: 10px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
footer .box1 div {
  text-align: center;
}
footer .box1 div p {
  color: grey;
}

footer .box3-1 {
  border-right: 2px solid rgb(201, 195, 195);
  margin-right: 20px;
}


/* Admin page............ */
.adminLoginPage .form-control{
  box-shadow: none;
}
.adminLoginPage .form-control:hover,
.adminLoginPage .form-control:focus{
  box-shadow: none;
  outline: none;
  border-color:none;
}



